/* Menu Lateral - Roxo e Dourado */
.sidebar {
  width: 250px;
  background-color: #6A4C9C; /* Roxo */
  color: white;
  padding: 20px;
  height: 100vh;
  position: fixed;
  transition: width 0.3s ease;
  border-radius: 15px;
}

.sidebar:hover {
  width: 280px;
}

.sidebar .logo {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 22px;
  color: #FFD700; /* Dourado */
}

.sidebar .logo img {
  width: 40px;
  margin-right: 10px;
}

.sidebar .menu {
  list-style-type: none;
  padding: 0;
}

.sidebar .menu li {
  margin: 20px 0;
}

.sidebar .menu li a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 0;
}

.sidebar .menu li a:hover {
  color: #FFD700; /* Dourado */
  font-weight: bold;
}

.sidebar .menu li a i {
  margin-right: 10px;
}

.sidebar .footer {
  margin-top: auto;
  text-align: center;
  color: #FFD700;
}

#dark-mode-toggle:checked + .sidebar {
  background-color: #4C3C6C; /* Tom mais escuro de roxo para o modo escuro */
}
